.container-checkout {
    padding: 32px 0;
}

.red {
    color: salmon;
}

.checkout-title--wrapper {
    display: flex;
    align-items: center;
}

.checkout-title {
    text-align: left;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 0;
    color: #333333ea;
}

.checkout-section-title {
    margin-bottom: 24px;
}

.ship-info--form-body {
    width: 100%;
    max-width: 65%;
}

.cart__summary {
    width: 100%;
    max-width: 35%;
    border: 1px solid black;
    height: 100px;
}

.cart-summary--item-final {
    font-size: 20px;
}

.checkout-info--wrapper {
    display: flex;
}

#email {
    width: 90%;
    margin-left: 36px;
    margin-top: 2px;
}

.checkout-section-title {
    font-weight: 500;
    background-color: gray;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0;
    margin-right: 0;
    color: lightgray;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 32px;
}

.checkout-sub-title {
    color: #333333ea;
    margin-bottom: 24px;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
    letter-spacing: -0.15px;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
}

.checkout-info-blob {
    display: flex;
    justify-content: space-around;
}

.checkout-info-blob--final {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin-left: 36px;
}

.email-label {
    margin-left: 36px;
}

.blob--left,
.blob--right {
    width: 100%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.blob--right-final {
    margin-top: 24px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
}

label {
    margin-bottom: 2px;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

input {
    height: 32px;
    padding-left: 16px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #333;
}

/*

    CART SUMMARY

*/

.cart__summary {
    border-radius: 4px;
    border-top: 4px solid gray;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.cart-summary__item {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}

.cart-summary--item-s-and-h {
    margin-bottom: 8px;
}

.cart__summary--title {
    color: #333333ea;
    margin-bottom: 16px;
}

.cart-summary__item-count {
    margin-left: 8px;
    font-weight: 500;
}

.cart-summary__item-shipping,
.cart-summary__item-total,
.cart-summary__item-tax {
    margin-left: 8px;
}

.cart-summary__item-total {
    font-weight: 700;
    font-size: 20px;
}

.btn__checkout.disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.5;
    border-bottom: 4px solid rgb(78, 90, 101);
    border-left: 2px solid rgb(78, 90, 101);
    border-right: 2px solid rgb(78, 90, 101);
}

.billingStateSelect,
.billingSelectCountry,
.selectCountry,
.stateSelect {
    width: 100%;
    border: 1px solid #333;
    font-size: 18px;
    height: 34px;
    color: #333;
}

input {
    height: 34px;
}

.tax-rate,
.shipping-method {
    font-weight: 300;
}

.shipping-title-small {
    font-size: 16px;
    color: #333;
}

.showShipping {
    width: 24px;
    border-radius: 0;
    position: relative;
    top: 5px;
    margin-right: 8px;
}

.showShipping:checked,
input[type="radio"]:checked {
    background-color: pink; /* Blue when checked */
    border-color: pink;
}

.shipping-info__container--last {
    margin-top: 32px;
}

.lock-icon {
    font-size: 24px;
    color: #333333ea;
}
